---
pagetitle: What you learn | Podii Academy
---

<div id="curriculum">
  <h1>Learn to code in 13 weeks</h1>
  <div class="pad">
    <div class="row">
      {{#each curriculum}}
      <div class="week-content">
        <div class="{{this.position}}">
          <h2>{{this.week}}</h2>
          <h3>{{this.title}}</h3>
          <p>{{this.description}}</p>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="download-outline">
      <a href="outline.pdf" class="button">Get Detailed Outline</a>
    </div>

    <div class="learn">
      <a href="https://learn.podiihq.com" class="button learn-button"
        >Start Leaning Now!!</a
      >
    </div>
  </div>

  <section id="note">
    We wake up everyday to make this better, it is hence subject to change for
    depending on the feedback and industry requirements
    <br />
    &copy; Podii
  </section>
</div>

{{> footer }}
