---
pagetitle: Learn to program | Podii Academy
---

<section id="hero-section">
  <div class="catch-phrase flex-container">
    <h1>Learn to code in 13 weeks</h1>
    <h2>
      <span class="podii-blue">Learn</span>.
      <span class="podii-orange">Do</span>.
      <span class="podii-brown"> Live</span>
    </h2>
    <p class="what-you-love">what you love</p>
    <p class="podii-description">
      Podii Academy is a Kenyan-based coding bootcamp that provides web
      development training.We believe in hands-on learning and our students are
      encouraged to explore as they tap into their creativity.
    </p>
    <a href="apply.html" class="button">Join us today!</a>
    <a href="curriculum.html" class="button curriculum">View Curriculum</a>
  </div>
</section>
{{> about }} {{> testimonials}} {{> what_you_learn }} {{> intakes }} {{>
footer}}
