<div id="pricing">
  <div class="invest-in-us">
    <h1> This is a lifetime investment you are making </h1>
    <p>
      And we know that, this is why we assure you of a job after SUCCESSFUL completion of the course
      <br/>Yes you heard it right, job assurance from us. We will help you get the job in programming
    </p>
  </div>

  <div class="prices">
    <h2>Base Pricing</h2>
    <p>
      For the 13 weeks, you will be required to pay a total on <strong>Ksh. 95,000</strong> inclusive of VAT.
    </p>
    <p>
      The 4 weeks internship and the preparation course is not paid for but we need a <strong>downpayment</strong> for you to start on the
      preparation course
    </p>

    <h2>Payment Options</h2>
    <p>
      We are flexible in payment terms, monthly payments are allowed but again we can always have a chat about it. Feel free
      to reach out to us for clarification on other options we offer.
    </p>
  </div>
</div>
{{> footer }}
