<footer id="footer">
  <div class="row">
    <div class="column">
      <div class="about-podii">
        <img alt="logo of podii academy" src="img/logo.png" />
      </div>
      <p>
        Podii is a team that brings change to the Technology industry. We are a
        team developers with a passion to code and make better the technology
        culture.
      </p>
    </div>

    <div class="column">
      <h2>Contact Info</h2>
      <ul>
        <li>
          <img
            alt="our location"
            src="img/footer-icons/location.png"
          />Lutheran, Kisumu Kenya
        </li>
        <li>
          <img alt="our phone number" src="img/footer-icons/phone.png" />057
          2041122
        </li>
        <li>
          <img alt="our email address" src="img/footer-icons/email.png" />
          <a href="mailto:academy@podiihq.com">academy@podiihq.com</a>
        </li>
      </ul>
    </div>

    <div class="column">
      <h2>Social Media</h2>
      <ul class="side-stacked">
        <li>
          <a href="https://twitter.com/podiihq">
            <img alt="podii twitter profile" src="img/footer-icons/twitter.png"
          /></a>
        </li>
        <li>
          <a href="https://gitlab.com/podiihq"
            ><img alt="gitlab link" src="img/footer-icons/git.png"
          /></a>
        </li>
        <li>
          <a href="https://facebook.com/podiihq">
            <img
              alt="facebook page for podii academy"
              src="img/footer-icons/fb.png"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
