<div id="intakes">
  <h1>Intake Dates 2020</h1>
  <table>
    <thead>
      <tr>
        <th>Prep Course</th>
        <th>Main Course</th>
        <th>Internship</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>6th January</td>
        <td>3rd February</td>
        <td>18th May</td>
      </tr>
      <tr>
        <td>1st April</td>
        <td>4th May</td>
        <td>3rd August</td>
      </tr>
      <tr>
        <td>22nd June</td>
        <td>20th July</td>
        <td>19th October</td>
      </tr>
    </tbody>
  </table>

  <div class="apply-cta">
    <a href="apply.html" class="button">Join us today!</a>
  </div>
</div>
