<div id="navbar">
  <header>
    <a href="javascript:void(0)" id="menu-icon"></a>
    <a href="javascript:void(0)" id="close-button"></a>
    <a href="/" class="podii-logo"> Podii Academy </a>
    <nav>
      <ul id="menu" class="flex-container">
        <li><a href="curriculum.html">Curriculum</a></li>
        <li>
          <a href="https://learn.podiihq.com">Course Content</a>
        </li>
        <li><a href="#footer">Contacts</a></li>
        <li><a href="/pricing.html">Pricing</a></li>
        <li><a href="https://medium.com/podiihq">Blog</a></li>
        <li><a href="/apply.html" class="button">Apply</a></li>
      </ul>
    </nav>
  </header>
</div>
