.cui-embed {
  iframe {
  z-index: 1000 !important;
  }
}
.registration {
  p {
    padding-top: 4em;
    font-size: 2em;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .cui-embed {
    iframe {
      width: 50%;
    }
  }
.registration {
  float: left;
  width: 50%;
}
.background {
  background-image: url('../../img/apply_bg.jpg');
  background-size: cover;
  float: right;
  width: 50%;
  height: 100vh;
}
}
