#curriculum {
  text-align: justify;
  margin-top: 4em;
  .pad {
  padding: 1em;
  }
  hr {
    color: #cacaca;
    margin: 2em 10%;
  }
  h1 {
    text-align: center;
  }
  h2 {
    font-weight: bold;
    color: $podii-blue;
  }
  h3 {
    font-style: italic;
    color: $podii-orange;
  }
  .left {
    h2, h3 {
      text-align: right;
    }
  }
  #note {
    background-color: $podii-blue;
    padding-top: 34px;
    height: 100px;
    color: white;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
  }

  .button {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    min-width: 25%;
    background-color: $podii-orange;
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .learn-button {
    background-color: $podii-blue;
  }
  div.download-outline, .learn {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
}
  @media only screen and (min-width: 768px) {
    .row {
      display: flex;
      flex-wrap: wrap;
      max-width: 1000px;
      margin: auto;
      .week-content{
        flex: 50%;
        position: relative;
        .left {
          padding-right: 1em;
          h2, h3 {
            text-align: right;
          }
        }
        .right {
          padding-left: 1em;
          padding-top: 9em;
        }
        p {
          padding-top: 3%;
          margin-top: 0;
        }
        h3 {
          margin: 0;
        }
        hr {
          position: absolute;
          bottom: 0;
          left: 25%;
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
}
