#footer {
  background-color: $podii-black;
  color: white;
  padding: 3em 1em;

  h2 {
    color: $podii-orange;
    text-align: center;
  }

  img {
    width: 2em;
    vertical-align: middle;
    padding-right: 0.4em;
  }
  .email-image {
    width: auto;
  }
  ul {
    list-style: none;
    li {
      padding-bottom: 1em;
    }
    a {
      color: white;
    }
  }
  .side-stacked {
    display: flex;
    justify-content: center;
    li {
      padding: 0 1.2em;
    }
  }
  .about-podii {
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    .row {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .column {
        float: left;
        width: 33.33%;
      }
    }
  }
}
