#hero-section {
  margin-left: -8px;
  margin-right: -8px;
  .catch-phrase {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    padding: 3em 0;
    flex-direction: column;
    background-image: url('../../img/mobile_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  h2 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .what-you-love {
    margin-top: 0;
  }
  .podii-description {
    padding: 1em 1em;
  }
  .podii-orange {
    color: $podii-orange;
  }
  .podii-blue {
    color: $podii-blue;
  }
  .podii-brown {
    color: $podii-brown;
  }
  .button {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    min-width: 25%;
    background-color: #0c71c4;
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .curriculum {
    background-color: $podii-orange;
    margin-top: 1em;
  }
  @media only screen and (min-width: 768px) {
    .catch-phrase {
      background-image: url('../../img/bg.jpg');
    }
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 1.8em;
    }
    .podii-description {
      width: 50%;
      text-align: center;
      font-size: 1.4em;
    }
    button {
      width: 30%;
      font-size: 1.2em;
      font-weight: bold;
    }

  }
}
