#intakes {
  h1 {
    text-align: center;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
  th {
    background-color: #008575;
    color: white;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table {
    width: 100%;
  }
  .apply-cta {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 36%;
  }

  .button {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    min-width: 25%;
    background-color: #0c71c4;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  @media only screen and (min-width: 768px) {
    max-width: 1200px;
    margin: auto;
  }

}
