@import 'settings';
@import 'navbar';
@import 'index';
@import 'about';
@import 'what_you_learn';
@import 'footer';
@import 'curriculum';
@import 'pricing';
@import 'apply';
@import 'testimonials';
@import 'intakes';

body {
  font-family: $maven-font;
  padding: 0;
  margin-bottom: 0;
  background-color: #f9f9f9;
  color: $primary-font-color;
}
ul {
  margin: 0;
  padding-left: 0;
}

#about, #footer {
  margin: 0 -8px;
}

button {
  background-color: #0c71c4;
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
